<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="user-view clearfix mb-3">
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
  <br>
  <% if !@message.nil? %>
    <p class="moderate-font mt-2 mb-2" style="color: #C0C0C0;"><%= @message %></p>
  <% end %>
</div>

