<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="user-view clearfix ">
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
  <br>
  <% if !@message.nil? %>
    <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @message %></p>
  <% end %>
</div>

