<main role="main" class="flex-shrink-0">
  <div class="container">

      <% provide(:title, @title) %>
      <div class="justify-content-center">
          <h2 class="text-center title-color mb-5"><%= @title %></h2>
          <% if @users.any? %>
            <%= render @users %>
            
            <%= paginate @users %>
          <% end %>
      </div>

    </div>
  </div>
</main>