@import '~bootstrap/scss/bootstrap';
@import "bootstrap";

body {
  background-color: #fff;
  color: #727272;
  position: relative;
  min-height: 100vh;
}

main {
  height: 100%;
  box-sizing: border-box;
  padding: 80px 0 112px;
}

footer {
  height: 56px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

a {
  display: inline-block;
}

a:hover{
  text-decoration: none;
}

.centered {
  text-align: center;
}


/*bootstrap*/
.navbar {
  padding: 0.5rem 6rem;
}

.navbar li {
  padding-left: 8px;
  position: relative;
}

.fa-circle {
  position: absolute;
  padding-top: 0rem;
  top: 6%;
  color: gold;
}

#navbarDropdown {
  padding: 0;
}

.fa-edit, .fa-paper-plane,
.fa-bell {
  font-size: 20px !important;
}

.text-success, .title-color {
  color: #00bf8f !important;
}

.text-success:hover {
  color: #01916d;
}

.title-color {
  font-weight: bold;
}

.btn-lg {
  line-height: 1;
}

.btn-success {
  color: #fff;
  background-color: #00bf8f;
  border-color: #00bf8f;
}

/* フォーム */
.field-mt, .actions-mt, .button_to, .post-bt {
  margin-top: 24px;
}

.field-mt input, .field-mt textarea, .field-mt select {
  width: 100%;
}

#user_profile {
  min-height: 80px;
}

.mgb0 label {
  margin-bottom: auto;
}

.field span {
  font-size: 10px;
}

.field .required {
  background-color: #00bf8f;
  color: white;
  font-size: 0.8rem;
  padding: 3px 4px;
  margin-left: 4px;
  border-radius: 3px;
}

.field select {
  padding: 6px 0;
}

#image-btn-remove {
  margin-top: 6px;
}

.actions input {
  width: 100%;
  color: rgb(0, 191, 143);
  background-color: white;
  border: solid 2px #00bf8f;
  border-radius: 3px;
  padding: 2px;
}

.button_to input {
  width: 50%;
  color: white;
  background-color:#dc3545;
  border: solid 2px #dc3545;
  border-radius: 3px;
  padding: 2px;
}

.post-bt a {
  width: 50%;
  color: white;
  background-color: #00bf8f;
  border: solid 2px #00bf8f;
  border-radius: 3px;
  padding: 2px;
}

.form-col a {
  display: inline-block;
  margin-top: 8px;
}


/* フラッシュメッセージ*/
.alert {
  padding: 6px 0;
  margin: 0;
}

/* フッター */
#copyrights {
  padding: 16px 0;
  text-align: center;
  p {
    margin: 0;
  }
}

/* メッセージ */
#message-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem 1rem 8rem 1rem;
}

#message-form {
  max-width: 768px;
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
}

// ボタン無効化時のスタイル
.btn-primary .disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: auto;
}

// ユーザーがフォームサイズを自由に変更できる機能を停止させておく
// #message_content {
//   resize: none;
// }

/* レスポンシブ */
@media (max-width: 992px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .fa-circle {
    left: 0px;
  }
}


@media (max-width: 576px) {
  #copyrights {
    font-size: 0.8rem;
  }

  .title-color {
    font-size: 1.5rem;
  }
}