// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.review-index-wrap {
  margin: 0 103px;
}

.review-index-inner {
  p {
    margin-bottom: 3px;
  }
}

@media (max-width: 992px) {
  .review-index-wrap {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .review-index-inner {
    padding: 8px 4px;
  }

  .icon2 img {
    width: 80px;
    height: 80px;
  }
}