// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.icon img {
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
  border: solid 4px #00bf8f !important;
}

.users-summary-col, .contact-favorite-wrap {
  padding: 18px 0;
}

.users-reviews, .users-follow-wrap {
  margin-bottom: 0.5rem;
}

.users-follow-wrap {
  display: flex;
}

.users-profile {
  padding: 30px 60px;
}

.users-profile-item-card {
  margin-left: auto;
  max-width: 18rem;
  border-radius: 8px;
  background-color: #f4f5f6;
}

.users-item-wrap {
  padding: 10px 24px 32px;
}

@media (max-width: 992px) {
  .users-profile {
    padding: 30px 10px;
  }
}

@media (max-width: 768px) {
  .users-summary-col, .contact-favorite-wrap {
    text-align: center;
  }

  .users-follow-wrap, .contact-favorite-wrap  {
    justify-content: center;
  }
}



//フォロー&フォロワー一覧ページ
.follow-wrap {
  margin: 0 210px 26px;
  border: solid 2px;
  border-radius: 50px;
}

.follow-wrap a {
  display: block;
  color: #727272;
  padding: 6px 34px;
}

.follow-wrap a:hover {
  opacity: 0.8;
  color: #727272;
}

.follow-wrap li {
  list-style: none;
}

div.follow-item {
  margin: 4px 0;
}

@media (max-width: 1200px) {
  .follow-wrap {
    margin: 0 110px 26px;
  }
}

@media (max-width: 992px) {
  .follow-wrap {
    margin: 0 0 26px;
  }

  .follow-wrap ul {
    padding-left: 2px;
  }
}

@media (max-width: 768px) {
  .follow-wrap {
    margin-bottom: 26px;
  }
}