<div id="fav_<%= @post.id %>">
  <% if !FavoriteC.exists?(user: current_user, post_c_id: @post.id) %>
    <%= link_to post_c_favorite_cs_path(@post), method: :post, remote: true, class: "fav-btn" do %>
      <div class="fav">
        <i class="far fa-bookmark"></i>
      </div>
    <% end %>
  <% else %>
    <%= link_to post_c_favorite_cs_path(@post), method: :delete, remote: true, class: "fav-btn" do %>
      <div class="fav">
        <i class="fas fa-bookmark"></i>
      </div>
    <% end %>
  <% end %>
</div>